.navbar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 3rem 0;
    font-size: 1.6rem;
    line-height: 2.1rem;
    height:110px;
}
.navbar_items {
    display: flex;
    justify-content: center;
}
.navbar_logo {
    display: flex;
    justify-content: center;
    margin-top: -12px;
}
.navbar_item {
    display: inline-block;
    margin: 0 3.2rem;
}
.navbar_link {
    text-decoration: none;
    color: #fff;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid transparent;
    transition: all .3s;
}
.navbar_link:hover {
    color:orange;
    border-color: orange;
}

.hamburger_menu {
    width:0px;
    visibility: hidden;
}
@media screen and (max-width: 1153px) {
    .navbar {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    z-index: 10;
    }
    .navbar_item,.navbar_items {
        width: 0px;
        visibility: hidden;
    }
    .navbar_logo {
        position: fixed;
        top:40px;
        left:20px;
        visibility: visible;

    }
    .hamburger_menu {
        visibility: visible;
        width: auto;
        position: fixed;
        top:40px;
        right:20px;
    }
}