.container {
    width:300px;
    height:300px;
    border-radius: 5px;

}
.image {
    margin-left: 77.5px;
    margin-top: 45px;
    width: 135px;
    height:180px;
    align-self: center;
}
.name {
    text-align: center;
    font-size: 1rem;
    color:orange;
    margin-top: 1rem;
    display: none;
    text-align: center;
}
.container:hover {
    background-color: rgba(1,1,1,.2);
}
.container:hover .name{
    display: block;
}