.container {
    width:200px;
    height:200px;
    border-radius: 5px;
}
.image {
    margin-left: 40px;
    width: 120px;
    height:120px;
    align-self: center;
}
.name {
    text-align: center;
    font-size: 1rem;
    color:orange;
}
.container:hover{
    background-color: rgba(1,1,1,.2);
}