.memberCardContainer {
    width:200px;
    height:300px;
}
.profilePicture {
    width: 200px;
    height:200px;
    border-radius: 50%;
}
.name {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.6rem;
}
.role{
    text-align: center;
    margin-top: 0.2rem;
    font-size: 1.2rem;
}
.memberCardContainer:hover{
    color: orange;
}